@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Consolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-family: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}